[submodule "visuals/powerbi-visuals-timeline"]
	path = visuals/powerbi-visuals-timeline
	url = https://github.com/microsoft/powerbi-visuals-timeline
	branch = master
[submodule "visuals/powerbi-visuals-wordcloud"]
	path = visuals/powerbi-visuals-wordcloud
	url = https://github.com/microsoft/powerbi-visuals-wordcloud
	branch = main
[submodule "visuals/powerbi-visuals-tornado"]
	path = visuals/powerbi-visuals-tornado
	url = https://github.com/microsoft/powerbi-visuals-tornado
[submodule "powerbi-visuals-asterplot"]
	path = visuals/powerbi-visuals-asterplot
	url = https://github.com/microsoft/powerbi-visuals-asterplot
[submodule "visuals/powerbi-visuals-gantt"]
	path = visuals/powerbi-visuals-gantt
	url = https://github.com/microsoft/powerbi-visuals-gantt
[submodule "visuals/powerbi-visuals-sankey"]
	path = visuals/powerbi-visuals-sankey
	url = https://github.com/microsoft/powerbi-visuals-sankey
[submodule "visuals/powerbi-visuals-streamgraph"]
	path = visuals/powerbi-visuals-streamgraph
	url = https://github.com/microsoft/powerbi-visuals-streamgraph
