[submodule "visuals/powerbi-visuals-wordcloud"]
	path = visuals/powerbi-visuals-wordcloud
	url = https://github.com/microsoft/powerbi-visuals-wordcloud
[submodule "visuals/powerbi-visuals-tornado"]
	path = visuals/powerbi-visuals-tornado
	url = https://github.com/microsoft/powerbi-visuals-tornado
