[submodule "visuals/powerbi-visuals-timeline"]
	path = visuals/powerbi-visuals-timeline
	url = https://github.com/microsoft/powerbi-visuals-timeline
[submodule "visuals/powerbi-visuals-wordcloud"]
	path = visuals/powerbi-visuals-wordcloud
	url = https://github.com/microsoft/powerbi-visuals-wordcloud
[submodule "visuals/powerbi-visuals-tornado"]
	path = visuals/powerbi-visuals-tornado
	url = https://github.com/microsoft/powerbi-visuals-tornado
[submodule "powerbi-visuals-asterplot"]
	path = visuals/powerbi-visuals-asterplot
	url = https://github.com/microsoft/powerbi-visuals-asterplot
[submodule "visuals/powerbi-visuals-gantt"]
	path = visuals/powerbi-visuals-gantt
	url = https://github.com/microsoft/powerbi-visuals-gantt
[submodule "visuals/powerbi-visuals-sankey"]
	path = visuals/powerbi-visuals-sankey
	url = https://github.com/microsoft/powerbi-visuals-sankey
[submodule "visuals/powerbi-visuals-streamgraph"]
	path = visuals/powerbi-visuals-streamgraph
	url = https://github.com/microsoft/powerbi-visuals-streamgraph
[submodule "visuals/powerbi-visuals-mekkochart"]
	path = visuals/powerbi-visuals-mekkochart
	url = https://github.com/microsoft/powerbi-visuals-mekkochart.git
[submodule "visuals/powerbi-visuals-textfilter"]
	path = visuals/powerbi-visuals-textfilter
	url = https://github.com/microsoft/PowerBI-visuals-TextFilter
[submodule "visuals/powerbi-visuals-radarchart"]
	path = visuals/powerbi-visuals-radarchart
	url = https://github.com/microsoft/PowerBI-visuals-RadarChart
[submodule "visuals/powerbi-visuals-bulletchart"]
	path = visuals/powerbi-visuals-bulletchart
	url = https://github.com/microsoft/powerbi-visuals-bulletchart
[submodule "visuals/powerbi-visuals-chord"]
	path = visuals/powerbi-visuals-chord
	url = https://github.com/Microsoft/PowerBI-visuals-chord
[submodule "visuals/powerbi-visuals-chicletslicer"]
	path = visuals/powerbi-visuals-chicletslicer
	url = https://github.com/microsoft/PowerBI-visuals-ChicletSlicer
[submodule "visuals/powerbi-visuals-sunburst"]
	path = visuals/powerbi-visuals-sunburst
	url = https://github.com/Microsoft/powerbi-visuals-sunburst
[submodule "visuals/powerbi-visuals-forcegraph"]
	path = visuals/powerbi-visuals-forcegraph
	url = https://github.com/Microsoft/PowerBI-visuals-ForceGraph
[submodule "visuals/powerbi-visuals-globemap"]
	path = visuals/powerbi-visuals-globemap
	url = https://github.com/microsoft/powerbi-visuals-globemap
[submodule "visuals/powerbi-visuals-enhancedscatter"]
	path = visuals/powerbi-visuals-enhancedscatter
	url = https://github.com/microsoft/powerbi-visuals-enhancedscatter
[submodule "visuals/powerbi-visuals-pulsechart"]
	path = visuals/powerbi-visuals-pulsechart
	url = https://github.com/microsoft/powerbi-visuals-pulsechart
[submodule "visuals/powerbi-visuals-linedotchart"]
	path = visuals/powerbi-visuals-linedotchart
	url = https://github.com/Microsoft/powerbi-visuals-linedotchart
[submodule "visuals/powerbi-visuals-sanddance"]
	path = visuals/powerbi-visuals-sanddance
	url = https://github.com/microsoft/SandDance
[submodule "visuals/powerbi-visuals-dotplot"]
	path = visuals/powerbi-visuals-dotplot
	url = https://github.com/Microsoft/powerbi-visuals-dotplot
[submodule "visuals/powerbi-visuals-powerkpi"]
	path = visuals/powerbi-visuals-powerkpi
	url = https://github.com/Microsoft/PowerBI-visuals-PowerKPI
[submodule "visuals/powerbi-visuals-powerkpimatrix"]
	path = visuals/powerbi-visuals-powerkpimatrix
	url = https://github.com/Microsoft/PowerBI-visuals-PowerKPIMatrix
[submodule "visuals/powerbi-visuals-dualkpi"]
	path = visuals/powerbi-visuals-dualkpi
	url = https://github.com/Microsoft/powerbi-visuals-dualkpi
[submodule "visuals/powerbi-visuals-multikpi"]
	path = visuals/powerbi-visuals-multikpi
	url = https://github.com/Microsoft/PowerBI-visuals-MultiKPI
[submodule "visuals/powerbi-visuals-heatmap"]
	path = visuals/powerbi-visuals-heatmap
	url = https://github.com/microsoft/powerbi-visuals-heatmap.git
